.simple-datepicker {
  width: 168px;
  background: #fff;
  font-size: 12px;

  table {
    width: 100%;

    td {
      width: 24px;
      line-height: 24px;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

    .datepicker-prev a,
    .datepicker-next a {
      display: block;
      height: 100%;
      color: #444;
      &:hover {
        color: #999;
      }
    }

    .datepicker-title {
      color: #333;
      font-size: 14px;
    }

    .datepicker-dow {
      color: #999;
    }

    .datepicker-day a {
      display: block;
      height: 100%;
      background: #f3f3f3;
      color: #333;
      border-bottom: 2px solid #fff;
      -webkit-text-shadow: 0 1px 0 white;
         -moz-text-shadow: 0 1px 0 white;
              text-shadow: 0 1px 0 white;

      &.today {
        background: #ffe451;
      }

      &.others {
        background: #fff;
        color: #cccccc;
      }

      &:hover {
        background: #cbe0ff;
      }

      &.selected {
        background: #cce5f1;
      }

      &.disabled {
        background: #fff;
        color: #ccc;
        cursor: default;
      }
    }
  }
}
