.simple-datepicker {
  width: 168px;
  background: #fff;
  font-size: 12px;
}
.simple-datepicker a {
  text-decoration: none;
}
.simple-datepicker table.calendar {
  width: 100%;
}
.simple-datepicker table.calendar td {
  width: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.simple-datepicker table.calendar .datepicker-prev a,
.simple-datepicker table.calendar .datepicker-next a {
  display: block;
  height: 100%;
  color: #444;
}
.simple-datepicker table.calendar .datepicker-prev a:hover,
.simple-datepicker table.calendar .datepicker-next a:hover {
  color: #999;
}
.simple-datepicker table.calendar .datepicker-title a {
  color: #333;
  font-size: 14px;
}
.simple-datepicker table.calendar .datepicker-title a:hover {
  color: #999;
}
.simple-datepicker table.calendar .datepicker-dow {
  color: #999;
}
.simple-datepicker table.calendar .datepicker-day a {
  display: block;
  height: 100%;
  background: #f3f3f3;
  color: #333;
  border-bottom: 2px solid #fff;
  -webkit-text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}
.simple-datepicker table.calendar .datepicker-day a.today {
  background: #ffe451;
}
.simple-datepicker table.calendar .datepicker-day a.others {
  background: #fff;
  color: #cccccc;
}
.simple-datepicker table.calendar .datepicker-day a:hover {
  background: #cbe0ff;
}
.simple-datepicker table.calendar .datepicker-day a.selected {
  background: #cce5f1;
}
.simple-datepicker table.calendar .datepicker-day a.disabled {
  background: #fff;
  color: #ccc;
  cursor: default;
}
.simple-datepicker table.calendar .datepicker-month a {
  display: block;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-title {
  text-align: center;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-title a {
  color: #333;
  font-size: 14px;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-title a:hover {
  color: #999;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-prev, .simple-datepicker div.datepicker-yearmonth .datepicker-year-next {
  text-align: center;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-prev a, .simple-datepicker div.datepicker-yearmonth .datepicker-year-next a {
  display: block;
  height: 100%;
  color: #444;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-prev a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-year-next a:hover {
  color: #999;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container {
  margin-bottom: 5px;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list {
  padding: 0px;
  margin: 0px;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-year, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-month, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-year, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-month, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-year, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-month, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-year, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-month {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-year a, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-month a, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-year a, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-month a, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-year a, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-month a, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-year a, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-month a {
  display: block;
  height: 100%;
  color: #333;
  -webkit-text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-year a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-month a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-year a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-month a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-year a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-month a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-year a.today, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-month a.today {
  background: #ffe451;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-year a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-month a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-year a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-month a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-year a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-month a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-year a.selected, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-month a.selected {
  background: #cce5f1;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-year a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-month a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-year a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-month a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-year a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-month a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-year a:hover, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-month a:hover {
  background: #cbe0ff;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-year-list .datepicker-year, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-year-list .datepicker-year {
  width: 20%;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-year-container .datepicker-month-list .datepicker-month, .simple-datepicker div.datepicker-yearmonth .datepicker-month-container .datepicker-month-list .datepicker-month {
  width: 16.66667%;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-confirm {
  text-align: right;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-confirm a {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  color: #999;
  border-radius: 3px;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-confirm a:hover {
  color: #444;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-confirm a:hover.datepicker-yearmonth-cancel {
  background: #f0f0f0;
}
.simple-datepicker div.datepicker-yearmonth .datepicker-yearmonth-confirm a:hover.datepicker-yearmonth-ok {
  background: #ddffdd;
}
