.simple-datepicker {
  width: 168px;
  background: #fff;
  font-size: 12px;

  a {
    text-decoration: none;
  }

  table.calendar {
    width: 100%;

    td {
      width: 24px;
      line-height: 24px;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

    .datepicker-prev a,
    .datepicker-next a {
      display: block;
      height: 100%;
      color: #444;
      &:hover {
        color: #999;
      }
    }

    .datepicker-title a {
      color: #333;
      font-size: 14px;
      &:hover {
        color: #999;
      }
    }

    .datepicker-dow {
      color: #999;
    }

    .datepicker-day a {
      display: block;
      height: 100%;
      background: #f3f3f3;
      color: #333;
      border-bottom: 2px solid #fff;
      -webkit-text-shadow: 0 1px 0 white;
         -moz-text-shadow: 0 1px 0 white;
              text-shadow: 0 1px 0 white;

      &.today {
        background: #ffe451;
      }

      &.others {
        background: #fff;
        color: #cccccc;
      }

      &:hover {
        background: #cbe0ff;
      }

      &.selected {
        background: #cce5f1;
      }

      &.disabled {
        background: #fff;
        color: #ccc;
        cursor: default;
      }
    }
    .datepicker-month a {
      display: block;
    }
  }

  div.datepicker-yearmonth {
    .datepicker-yearmonth-title {
      text-align: center;
      height: 24px;
      line-height: 24px;
      vertical-align: middle;
      a {
        color: #333;
        font-size: 14px;
        &:hover {
          color: #999;
        }
      }
    }
    .datepicker-year-prev,.datepicker-year-next {
      text-align: center;
      a {
        display: block;
        height: 100%;
        color: #444;
        &:hover {
          color: #999;
        }
      }
    }
    .datepicker-year-container,.datepicker-month-container {
      margin-bottom: 5px;
      .datepicker-year-list,.datepicker-month-list {
        padding: 0px;
        margin: 0px;
        .datepicker-year,.datepicker-month {
          display: inline-block;
          height: 25px;
          line-height: 25px;
          vertical-align: middle;
          text-align: center;

          a {
            display: block;
            height: 100%;
            color: #333;
            -webkit-text-shadow: 0 1px 0 white;
               -moz-text-shadow: 0 1px 0 white;
                    text-shadow: 0 1px 0 white;
            &.today {
              background: #ffe451;
            }
            &.selected {
              background: #cce5f1;
            }
            &:hover {
              background: #cbe0ff;
            }
          }
        }
      }
      .datepicker-year-list .datepicker-year {
        width: (100%/5);
      }
      .datepicker-month-list .datepicker-month {
        width: (100%/6);
      }
    }
    .datepicker-yearmonth-confirm {
      text-align: right;
      a {
        display: inline-block;
        padding: 0 5px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        color: #999;
        border-radius: 3px;
        &:hover {
          color: #444;
          &.datepicker-yearmonth-cancel {
            background: #f0f0f0;
          }
          &.datepicker-yearmonth-ok {
            background: #ddffdd;
          }
        }
      }
    }
  }
}
