.simple-datepicker {
  width: 200px;
  background: #fff;
  font-size: 12px;
}
.simple-datepicker a {
  text-decoration: none;
}
.simple-datepicker .datepicker-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}
.simple-datepicker .datepicker-header input {
  display: inline-block;
  outline: 0;
}
.simple-datepicker .datepicker-header input.year-input {
  width: 30%;
}
.simple-datepicker .datepicker-header input.month-input {
  width: 20%;
  margin-left: 10px;
}
.simple-datepicker .datepicker-header input.day-input {
  width: 20%;
  margin-left: 10px;
}
.simple-datepicker .datepicker-selector table {
  width: 100%;
}
.simple-datepicker .datepicker-selector table td {
  width: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.simple-datepicker .datepicker-selector table.calendar.active {
  display: table;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-dow {
  color: #999;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-day a {
  display: block;
  height: 100%;
  background: #f3f3f3;
  color: #333;
  border-bottom: 2px solid #fff;
  -webkit-text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-day a.today {
  background: #ffe451;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-day a.others {
  background: #fff;
  color: #cccccc;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-day a:hover {
  background: #cbe0ff;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-day a.selected {
  background: #cce5f1;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-day a.disabled {
  background: #fff;
  color: #ccc;
  cursor: default;
}
.simple-datepicker .datepicker-selector table.calendar .datepicker-month a {
  display: block;
}
.simple-datepicker .datepicker-selector .panel {
  display: none;
}
.simple-datepicker .datepicker-selector .panel.active {
  display: block;
}
.simple-datepicker .datepicker-selector .panel-year {
  width: 100%;
}
.simple-datepicker .datepicker-selector .panel-year .datepicker-year {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  width: 25%;
  background: #f3f3f3;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.simple-datepicker .datepicker-selector .panel-year .datepicker-year:hover {
  background: #cbe0ff;
}
.simple-datepicker .datepicker-selector .panel-month {
  width: 100%;
  text-align: center;
}
.simple-datepicker .datepicker-selector .panel-month .datepicker-month {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  width: 25%;
  background: #f3f3f3;
  text-align: center;
  padding: 10px;
}
.simple-datepicker .datepicker-selector .panel-month .datepicker-month:hover {
  background: #cbe0ff;
}
