.simple-datepicker {
  width: 168px;
  background: #fff;
  font-size: 12px;

  a {
    text-decoration: none;
  }

  table {
    width: 100%;
  }

  table td {
    width: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  .datapicker-header {
    text-align: center;
    margin-bottom: 5px;

    .datepicker-prev,
    .datepicker-next {
      float: left;
      margin: 3px 6px;
      display: block;
      color: #444;
      &:hover {
        color: #999;
      }
    }

    .datepicker-next {
      float: right;
    }

    .datepicker-title {
      color: #333;
      font-size: 14px;

      &:hover {
        color: #999;
      }
    }
  }

  table.calendar {
    .datepicker-dow {
      color: #999;
    }

    .datepicker-day a {
      display: block;
      height: 100%;
      background: #f3f3f3;
      color: #333;
      border-bottom: 2px solid #fff;
      -webkit-text-shadow: 0 1px 0 white;
         -moz-text-shadow: 0 1px 0 white;
              text-shadow: 0 1px 0 white;

      &.today {
        background: #ffe451;
      }

      &.others {
        background: #fff;
        color: #cccccc;
      }

      &:hover {
        background: #cbe0ff;
      }

      &.selected {
        background: #cce5f1;
      }

      &.disabled {
        background: #fff;
        color: #ccc;
        cursor: default;
      }
    }
    .datepicker-month a {
      display: block;
    }
  }

  .datepicker-yearmonth {
    display: none;
    .datepicker-year-container {
      display: inline-block;
      height: 80px;
      width: 40px;
      overflow: auto;
      .datepicker-year-list {
        padding: 0px;
        margin: 0px;
        white-space: normal;
        text-align: center;

        .datepicker-year {
          display: inline-block;
          height: 20px;
          width: 100%;
          line-height: 20px;
          vertical-align: middle;

          a {
            display: block;
            height: 100%;
            color: #333;
            -webkit-text-shadow: 0 1px 0 white;
            -moz-text-shadow: 0 1px 0 white;
            text-shadow: 0 1px 0 white;
            &.today {
              background: #ffe451;
            }
            &.selected {
              background: #cce5f1;
            }
            &:hover {
              background: #cbe0ff;
            }
          }
        }
      }
    }

    .datepicker-month-container {
      display: inline-block;
      vertical-align: top;
      width: 120px;
      height: 80px;
      .datepicker-month-list {
        padding: 0px;
        margin: 0px;
        white-space: normal;
        text-align: center;

        .datepicker-month {
          display: inline-block;
          height: 25px;
          width: 30px;
          line-height: 25px;
          vertical-align: middle;

          a {
            display: block;
            height: 100%;
            color: #333;
            -webkit-text-shadow: 0 1px 0 white;
               -moz-text-shadow: 0 1px 0 white;
                    text-shadow: 0 1px 0 white;
            &.today {
              background: #ffe451;
            }
            &.selected {
              background: #cce5f1;
            }
            &:hover {
              background: #cbe0ff;
            }
          }
        }
      }
    }

  }
}
